/* Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* Remove margin from all elements */
*,
*::before,
*::after {
  margin: 0;
}

/* Setting h1 to specifi font */
h1 {
  font-family: "Lobster Two", cursive;
}

/* Setting height of page to 100% */
html,
body {
  height: 100%;
  font-family: "Manrope", sans-serif;
  scroll-snap-type: y proximity;
}

/* Frontpage zoom through effect */
#zoom-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#zoom-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/bg.svg");
  background-position: center;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-out;
}

#zoom-image h1 {
  font-family: "Lobster Two", cursive;
  font-size: 35pt;
  font-weight: 100;
  width: 300px;
  position: relative;
  left: 35%;
}

#zoom-image2 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#zoom-image2 svg {
  transition: 0.5s ease-out;
  transform: scale(1.6);
}

/* Animations */
@keyframes sway {
  0% {
    transform: rotate(0.3deg);
  }
  100% {
    transform: rotate(-0.3deg);
  }
}

@keyframes swayReverse {
  0% {
    transform: rotate(-0.3deg);
  }
  100% {
    transform: rotate(0.3deg);
  }
}

/* Animations applied to each SVG grouped element */
#sweater {
  transform-origin: bottom left;
  animation: sway 1s ease-in-out infinite alternate-reverse;
}
#mitten {
  transform-origin: bottom center;
  animation: sway 0.8s ease-in-out infinite alternate-reverse;
}
#laptop {
  transform-origin: center;
  animation: swayReverse 1.2s ease-in-out infinite alternate-reverse;
}
#yarn {
  transform-origin: center;
  animation: swayReverse 0.8s ease-in-out infinite alternate-reverse;
}
#knitting {
  transform-origin: center;
  animation: swayReverse 1s ease-in-out infinite alternate-reverse;
}
#eraser {
  transform-origin: bottom;
  animation: sway 1s ease-in-out infinite alternate-reverse;
}
#coffee {
  transform-origin: right;
  animation: sway 0.8s ease-in-out infinite alternate-reverse;
}
#pencil {
  transform-origin: center;
  animation: swayReverse 1s ease-in-out infinite alternate-reverse;
}
#paper {
  transform-origin: bottom;
  animation: swayReverse 1.2s ease-in-out infinite alternate-reverse;
}
#hat {
  transform-origin: right;
  animation: sway 0.8s ease-in-out infinite alternate-reverse;
}

/* Hide content if welcome screen is not zoomed in (controlled via JavaScript) */
#content {
  display: none;
}

/* Hide mobile frontpage */
#mobile-frontpage {
  display: none;
}

/* Welcome section */
#welcome {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  height: auto;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  gap: 10%;
}

#welcome div {
  width: 50%;
  flex-direction: column;
  height: auto;
}

#welcome div h1 {
  font-size: 35pt;
  padding-bottom: 5%;
}

#welcomeimg div img {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

#floatimg {
  position: relative;
  bottom: 150px;
  left: 150px;
  z-index: -1;
}

/* Fullscreen video */
#fullscreenVideo {
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
  overflow: hidden;
}
#fullscreenVideo video {
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}
#controls {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 70%;
  position: absolute;
  transition: 0.2s ease-in-out;
}
.fa-play,
.fa-pause {
  cursor: pointer;
  font-size: 90pt;
  color: rgb(255, 255, 255);
}
.fa-backward,
.fa-forward {
  cursor: pointer;
  font-size: 30pt;
  color: rgb(255, 255, 255);
}

/* Knit in Denmark section */
#knitInDK {
  scroll-snap-align: start;
  position: relative;
  text-align: center;
  height: 97vh;
  padding-top: 15px;
}
#knitText h1 {
  font-size: 35pt;
  margin-top: 20px;
  margin-bottom: 20px;
}
#knitText p {
  margin: auto;
  width: 80%;
  padding-bottom: 50px;
}

#discount-circle {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px;
  width: 180px;
  padding: 30px;
  border-radius: 50%;
  background-color: #f4f1eb;
}
#discount-circle p:first-child {
  line-height: 35px;
  margin-bottom: 20px;
}
#discount-circle p:last-child {
  font-size: 18pt;
  font-weight: 900;
}

/* Mobil tidslinjen */
#tidslinje-mobil {
  width: 90%;
  margin: auto;
  text-align: center;
  background-image: url(images/tidslinje-mobil.svg);
  background-size: 140%;
  background-position: center;
}

#tidslinje-mobil-tekst {
  background-color: #ffff;
}

/* Timeline section */
#horizontal-container {
  display: flex;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  top: 0;
}

#horizontal-container div {
  width: 160vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#horizontal-container img {
  width: 160vw;
  height: 90%;
}

/* Section about business */

.business {
  scroll-snap-align: start;
  overflow: scroll;
  height: 100vh;
  display: flex;
  gap: 150px;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to top, #f4f1eb 0%, #f4f1eb 55%, #fcfaf5 55%, #fcfaf5 100%);
}
.business::-webkit-scrollbar {
  display: none;
}
.business-text {
  align-self: start;
  width: 35%;
}
.business-text h1 {
  margin-top: 30%;
  font-size: 35pt;
  font-weight: 100;
  margin-bottom: 30px;
}

#long-text p:not(#long-text p:last-child) {
  margin-bottom: 250px;
}

#long-text p:last-child {
  margin-bottom: 150px;
}

#laptopBig {
  position: sticky;
  top: 27%;
  width: 30%;
}

/* Two videoes section */
#twoVideoes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.video-container {
  pointer-events: fill;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  overflow: hidden;
}
.text-circle {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  z-index: 100;
}
.text-circle h1 {
  font-size: 30pt;
  color: white;
}

.circleVid {
  pointer-events: fill;
  width: 860px;
  height: 860px;
  filter: brightness(0.6);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.circleVid:hover {
  transform: scale(1.05);
  filter: brightness(0.8) !important;
}

#citat p {
  font-size: 25pt;
  font-weight: 100;
}

#citat {
  text-align: center;
}

#univers p {
  text-align: center;
  padding-top: 60px;
  font-size: 18pt;
  font-weight: 100;
}

#knitvik {
  font-family: "Lobster Two", cursive;
  font-size: 20pt;
  width: 100%;
  text-align: center;
}

#knitvik a {
  color: black;
  text-decoration: none;
  padding-bottom: 20px;
}

/* 404-siden */
#fourofour {
  text-align: center;
  background-color: #fcfaf5;
  overflow: hidden;
}

#fourofour h1 {
  font-size: 55pt;
  margin-top: 100px;
  font-weight: 100;
}

#fourofour p {
  font-size: 25pt;
  margin-top: 120px;
  margin-bottom: 140px;
}

#illustrationer {
  display: flex;
}

#Bwoken {
  width: 28%;
  position: relative;
  left: 50px;
  bottom: 160px;
}

#CoffeeSpill {
  width: 63%;
  position: relative;
  left: 145px;
  bottom: 220px;
  z-index: -1;
}

#button {
  font-size: 20pt;
  background-color: #f4f1eb;
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  color: black;
}

/* Responsive Ipad */
@media only screen and (min-width: 651px) and (max-width: 1023px) {
  #welcome {
    flex-direction: column;
    width: 100%;
  }

  #welcome div {
    margin-top: 5%;
  }

  #welcomeimg div {
    flex-direction: column;
  }

  #welcomeimg div img {
    width: 80%;
    height: auto;
  }

  #floatimg {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}

/* Responsive telefon */
@media only screen and (max-width: 1023px) {
  /* First section */
  #zoom-container {
    display: none;
  }
  #mobile-frontpage {
    height: 100%;
    display: block;
    overflow: hidden;
  }
  #mobile-frontpage img {
    width: 150%;
    position: relative;
    right: 25%;
    bottom: 20px;
    margin: auto;
  }
  #mobile-frontpage h1 {
    width: 80%;
    font-size: 35pt;
    font-weight: 100;
    text-align: center;
    margin: auto;
  }

  /* Second section */
  #welcome {
    flex-direction: column;
    width: 80%;
  }

  #welcome div {
    width: 100%;
    margin-top: 5%;
  }

  #welcomeimg div {
    flex-direction: column;
  }

  #floatimg {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}
